<div class="row">
    <div class="col-lg-12">
        <!-- Trending Tittle -->
        <div class="about-right mb-90">
            <div class="about-img">
                <img [src]="data[id].url" alt="" width="90%">
            </div>
            <div class="section-tittle mb-30 pt-30">
                <h3>{{data[id].heading}}</h3>
            </div>
            <div class="about-prea">
                <p class="about-pera1 mb-25">{{data[id].para}}</p>
            </div>
        </div>
    </div>
</div>